<div class="container">
  <!-- Leading Text on the Right -->
  <h2 class="leading-text">
    {{ leadingText() }}
  </h2>

  <!-- Current Item on the Left -->
  <div class="slide">
    <div class="content">
      <div
        class="title-container"
        #titleContainer
        [style]="getTitleContainerStyle()"
      >
        <h3
          class="title"
          [style.text-transform]="caseInsensitiveTitle() ? 'none' : 'uppercase'"
        >
          {{ currentItem().title }}
        </h3>
        <!-- Hidden element to measure upcoming content width -->
        <h3
          class="title title-measure"
          #titleMeasure
          [style.text-transform]="caseInsensitiveTitle() ? 'none' : 'uppercase'"
        >
          {{ getNextItem().title }}
        </h3>
        <div
          class="block-overlay"
          [@blockSlide]="blockAnimationState()"
          (@blockSlide.done)="onBlockAnimationDone($event)"
        ></div>
      </div>
      @if (currentItem().description) {
      <div class="description-container">
        <div 
          class="description"
          #descriptionElement
        >
          {{ currentItem().description }}
        </div>
        <div
          class="description-block-overlay"
          [@blockSlide]="descriptionBlockAnimationState()"
          (@blockSlide.done)="onDescriptionBlockAnimationDone($event)"
        ></div>
      </div>
      }
    </div>
    <!-- Item indicators -->
    <div class="item-indicators">
      @for (item of items(); track $index; let i = $index) {
      <i class="indicator" [class.active]="i === currentItemIndex()"></i>
      }
    </div>
  </div>
</div>
