<app-loading></app-loading>
<div class="background-image"></div>
<main #container>
  <!-- Introduction -->
  <section class="intro-section">
    <app-slide-showcase
      [items]="introSlides"
      slideType="center"
      [animationDuration]="5000"
      [autoplay]="true"
      [showIndicators]="true"
    />
  </section>

  <!-- Projects -->
  <section class="projects-section">
    <app-slide-showcase
      [items]="projectsData"
      slideType="normal"
      leadingText="PROJECTS"
      [titleStyles]="{ textTransform: 'normal' }"
      [descriptionStyles]="{ fontSize: '2rem', maxWidth: '55%' }"
      [leadingTextStyles]="{ fontSize: '6rem' }"
      [animationDuration]="10000"
    />
  </section>

  <!-- Skills -->
  <section class="skills-section">
    <app-slide-showcase
      [items]="skillsData"
      slideType="normal"
      leadingText="SKILLS"
    />
  </section>
</main>
<app-scrollbar [mainContainer]="ref" />
