<app-loading></app-loading>
<div class="background-image"></div>
<main #container>
  <!-- Introduction -->
  <section class="intro-section">
    <app-slides 
      [slides]="introSlides"
      [animationDuration]="5000"
      [autoplay]="true"
      [showIndicators]="true"
      (slideChange)="onSlideChange($event)">
    </app-slides>
  </section>

  <!-- Projects -->
  <section class="projects-section">
    <h2 class="leading-text">Projects</h2>
  </section>

  <!-- Skills -->
  <section class="skills-section">
    <h2 class="leading-text">Skills</h2>
  </section>
</main>
<app-scrollbar [mainContainer]="ref" />
